    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About PamelIA</h2>
              <br/>
                <p>PamelIA is a research project  which aims to exploit artificial intelligence in the medical field.</p>
                <p>This project leads persons of different cultural background such as searchers, data scientist and developers.</a></p>
                <p>The objective is to furnish in a first time an application to follows the health of your skin.</p>
                <p>The app will furnish lots of features for medical and estethic needs.</p>
                <br/>
              </div>
        </div>
    </section>
